{{#BaseRoute}}
  <div class="page">
    <h2 class="page__heading">Welcome to Adventure Story!</h2>
    {{#if currentUser}}
      <a class="button" href="/{{currentUser.details.username}}">Go to your stories</a>
    {{else}}
      <a class="button" href="/signup">Sign up!</a>
    {{/if}}
  </div>
{{/BaseRoute}}
{{#UsernameRoute}}
  <div
    class="page"
  >
    <h2 class="page__heading">Stories</h2>
    <div 
      class="story-list"
      data-o-key="stories"
      data-o-type="list"
    >
      {{#for storyListItem in data.stories}}
        <div
          class="story-list__story"
          data-o-key-id="{{storyListItem.id}}"
          data-o-type="object"
          data-l-key-name="a"
        >
          <a 
            class="story-list__story-link" 
            href="{{@root.pageAuthor.details.username}}/story/{{storyListItem.id}}"
          >{{storyListItem.name}}</a>
          <button 
            class="story-list__story-edit-button" 
            data-i-editable
          >Edit</button>
        </div>
      {{/for}}
    </div>
    <button 
      class="button button--pink story-list__story-add-button"
      data-i-new="storyListItem"
    >Add Story</button>
  </div>
{{/UsernameRoute}}