{{#if currentUser}}
  {{#if pageHasAppData}}
    <div class="page">
      <h2 class="page__heading">Welcome to Adventure Story</h2>
      <a class="button" href="/{{currentUser.details.username}}/story/{{data.topLevelStory.id}}">Go to your story</a>
    </div>
  {{else}}
    <div class="page">
      {{log data}}
      <h2 class="page__heading">Welcome, {{currentUser.details.username}}!</h2>
      <a class="button" href="/{{currentUser.details.username}}">Go to your story home page</a>
    </div>
  {{/if}}
{{else}}
  <div class="page">
    <h2 class="page__heading">Welcome to Adventure Story</h2>
    <a class="button" href="/signup">Sign up!</a>
  </div>
{{/if}}