<div class="page page--wide">
  {{#if parentItem.stories}}
    <a 
      class="story__back-button" 
      href="/{{pageAuthor.details.username}}"
    >Back</a>
  {{else}}
    <a 
      class="story__back-button" 
      href="/{{pageAuthor.details.username}}/story/{{parentItem.id}}"
    >Back</a>
  {{/if}}
  <div 
    class="story"
    data-o-type="object"
    data-o-key-id="{{currentItem.id}}"
  >
    {{#if parentItem.stories}}
      <h2 class="page__heading">In the beginning...</h2>
    {{else}}
      <h2 class="page__heading-label">You decided to...</h2>
      <div class="page__heading page__heading--small">{{currentItem.choiceText}}</div>
    {{/if}}
    <div
      class="story__content"
      data-o-type="object"
      data-l-key-content
      data-i-editable="content(text-multi-line)"
    >{{currentItem.content}}</div>
    {{#or currentUser currentItem.choices.length}}
      <div class="story__choices-heading">What next?</div>
    {{else}}
      <div class="story__choices-heading">The End!</div>
    {{/or}}
    <div 
      class="story__choices-list"
      data-o-key="choices"
      data-o-type="list"
    >
      {{#for choice in currentItem.choices}}
        <div 
          class="story__choice"
          data-o-key-id="{{choice.id}}"
          data-o-type="object"
          data-l-key-choice-text="a"
        >
          <a 
            class="story__choice-link" 
            href="/{{@root.pageAuthor.details.username}}/story/{{choice.id}}"
          >{{choice.choiceText}}</a>
          <button 
            class="story__choice-edit-button"
            data-i-editable
          >Edit</button>
        </div>
      {{/for}}
    </div>
    <button 
      class="button button--grape story__choice-new-button"
      data-i-new="choice"
    >Add choice</button>
  </div>
</div>


